{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "tabWidth": 4,
    "importOrder": ["(css|sass)$", "^components/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
