altgraph==0.17.4
blinker==1.8.2
click==8.1.7
emoji==2.12.1
Flask==3.0.3
Flask-Cors==4.0.1
future==1.0.0
gevent==24.2.1
greenlet==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
macholib==1.16.3
MarkupSafe==2.1.5
msgpack==1.0.8
nltk==3.8.1
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
python-dateutil==2.9.0.post0
posthog==3.18.0
pytz==2024.1
pyzmq==26.0.3
regex==2024.5.15
setuptools==70.2.0
six==1.16.0
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
Werkzeug==3.0.3
zerorpc==0.6.3
zope.event==5.0
zope.interface==6.4.post2
