.container {
    padding: 16px;
}

.header {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.backButton {
    margin-right: 20px;
    vertical-align: top;
}

.table {
    min-width: 800px;
    flex-grow: 1;
}

.headerLeft {
    display: block;
}

.headerLeft h2 {
    margin-top: 0;
}

.nameCol {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.groupIcon {
    margin-right: 8px;
    vertical-align: top;
    width: 20px;
    height: 20px;
}
