.background {
    width: 100vw;
    height: 100vh;
    padding: 16px;
    background: var(--color-background-gradient);
}

.floatLeft {
    display: flex;
    gap: 12px;
    position: fixed;
    z-index: 300;
}

.floatLeft Button {
    height: 40px;
}

.floatRight {
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
    position: absolute;
    z-index: 300;
}

.floatRight Button {
    height: 40px;
    margin-left: 8px;
}

.select {
    max-width: 500px;
}
