.background {
    background-color: #121120;
    width: 100vw;
    height: 100vh;
    padding: 16px;
}

.floatLeft {
    display: flex;
    gap: 12px;
    position: fixed;
    z-index: 300;
}

.floatLeft Button {
    height: 40px;
}

.floatRight {
    right: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
    position: absolute;
    z-index: 300;
}

.floatRight Button {
    height: 40px;
    margin-left: 8px;
}

.filterWindow {
    background-color: var(--mantine-color-dark-7);
    border-radius: 4px;
    width: 200px;
}

.filterContents {
    margin: 8px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.close {
    position: absolute;
    right: 8px;
}

.select {
    max-width: 500px;
}
