.container {
    padding: 16px;
}

.header {
    margin-top: 0;
}

.backButton {
    margin-right: 20px;
    vertical-align: top;
}

.table {
    minwidth: 800px;
    flex-grow: 1;
}

.settings {
    position: fixed;
    right: 20px;

}

