.onboardingCard {
    position: relative;
    padding: var(--mantine-spacing-sm);
    transition: border-color 150ms ease;

    &[data-checked] {
        border-color: var(--mantine-primary-color-filled);
    }

    @mixin hover {
        @mixin light {
            background-color: var(--mantine-color-gray-0);
        }

        @mixin dark {
            background-color: var(--mantine-color-dark-6);
        }
    }
}

.onboardingNext {
    float: right;
    margin-left: var(--mantine-spacing-sm);
    margin-top: var(--mantine-spacing-sm);
}

p.onboardingLabel {
    font-weight: bold;
    font-size: var(--mantine-font-size-md);
}

.onboardingContainer {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.onboardingContents {
    max-width: 600px;
    flex-grow: 1;
}
