/* Unused */
.bubble_sent { 
    word-wrap: break-word;
    background-color: var(--color-text);
    color: var(--color-background);
    max-width: 400px;
    margin: auto;
}

.bubble_received {
    word-wrap: break-word;
    color: white;
    background-color: var(--color-received);
    max-width: 400px;
    margin: auto;
}

.container {
    display: flex;
    height: 100%;
    overflow-y: auto;
    padding-right: 12px; /* For scroll bar */
}
