.bubble_sent {
    word-wrap: break-word;
    background-color: #e9ebee;
    color: var(--mantine-color-dark-8);
    max-width: 400px;
    margin: auto;
}

.bubble_received {
    word-wrap: break-word;
    color: white;
    background-color: #218aff;
    max-width: 400px;
    margin: auto;
}

.container {
    display: flex;
    height: 100%;
    overflow-y: auto;
    padding-right: 12px; /* For scroll bar */
}
